= link_to "All", "/authors"
- Organization.org_name_tag_map.each do |org_url, org|
  button.btn.btn-xs.btn-link.spaced-at-right class="#{ (params[:org] == org_url ? 'active':'')}"
    = link_to org, "/authors?org=#{org_url}"
- if params[:search]
  button.btn.btn-xs.btn-link.spaced-at-right class="active" Search