#new-readlist-modal.modal class="{{modal_status}}"
  form.modal-dialog ng-submit="saveReadlist()"
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button" &times;
        h4.modal-title Name of the Read List
      .modal-body
        input.form-control ng-model="readlist_name" placeholder="Read List Name"
      .modal-footer
        button.btn.btn-default data-dismiss="modal" type="button" Cancel
        input.btn.btn-primary.btn-save type="submit" value="Save"