ul.side-nav
  li.title
    a.text-info href="/timeline" New articles

  / hr
  / li.title
  /   a.text-info href="/timeline" Home

  hr
  li.title
    a.text-info href="/authors" People
    / li
    /   a href="/authors" Following
    / li
    /   a href="/authors" Followers
    / li
    /   a href="/recommendedauthors" Recommended

    / - current_user.my_following_profiles.each do |following_author|
    /   li
    /     a href="/authors/#{following_author.token}" #{following_author.name}    
  / li
  /   a href="/authors" More
  hr
  li.title
    = link_to "Lists", user_readlists_path, class: "text-info"
  - if not current_user.my_readlists.blank?
    - current_user.my_readlists.each do |readlist|
      li
        = link_to readlist["title"], user_readlist_read_path(token: readlist.token)
  - else
      .text-here
        ' You do not have any readlists yet. Please click
        => link_to "here", author_list_path
        ' to make your readlist.

  hr
  / li.title
  /   a.text-info href="/authors" Recommended

  /   li
  /     a href="/authors" Michael Porter
  /   li
  /     a href="/authors" Winfried Ruigrok
  / hr
    
