.authorpost.container ng-controller="FeedAuthorShowPostsCtrl" ng-init="init()"
  
  .row
    .col-sm-3.col-xs-3
      img.img-circle.author-thumbnail.thumbnail.pull-right ng-src="#{@author.photo_url_fixed}"
      

    .col-sm-6.col-xs-9
      h2.author-post
        = @author.name
        - unless @author.twitter_handle.blank?
          span.text-info.twitter-author 
            = link_to "@%s" % @author.twitter_handle, "https://twitter.com/%s" % @author.twitter_handle, target: "_blank"
      p #{ @author.short_description }
      p 
        | Associated with: 
        u
          - if not @author.tags.blank?
            = Organization.name_for @author.tags[0]
      p
        span.spaced-at-right() #{@paginate_count} posts.
        / | 100 views
        / span 24 followers

      -# FOLLOW BUTTON
      followbutton.btn-xs.btn> target="getProfile('#{@author.token}')"

      readlistbutton target="getProfile('#{@author.token}')" readlists-model="my_readlists" after="init()"
        a.btn.btn-default.btn-xs.dropdown-toggle data-toggle="dropdown"
          ' Add to Readlist
          span.caret

      hr.dark-line

  .row 
    .col-sm-3.hidden-xs
      = render partial: "user_read_links"

    .col-sm-8   
      / .pull-right.text-muted
      /   = will_paginate @feed_items
      .clearfix
  
      - @feed_items.each do |feed_item|
        h2.post-title
          a> href="/post/#{feed_item.token}" #{raw feed_item.title }
          / a href="{{ post.url }}" Go

        / .author-view-page
        /   hr
        /     strong          
        /       = link_to URI(feed_item.url).host, feed_item.url, target: "_blank", class: "text-primary"
        
        .post-content 
          div
            = feed_summary feed_item.summary
        br
        - if not feed_item.published.blank?
          p.text-muted.dateline.pull-left.spaced-at-right id="#{feed_item.token}" Posted #{time_ago_in_words feed_item.published} ago 
          .text-muted.dateline
            | #{feed_item.view_count} Views | #{feed_item.comments_list.count} Comments | #{feed_item.like_count} Likes
        / .social.pull-right.clearfix.text-info.spaced-at-top
        /   span.social-buttons
        /     i.icon-heart-empty
        /   span.social-buttons
        /     i.icon-facebook-sign
        /   span.social-buttons
        /     i.icon-twitter-sign
        /   span.social-buttons
        /     i.icon-linkedin-sign 

        .clearfix
        hr
      / .pull-right.text-muted
      /   = will_paginate @feed_items
   


  = render partial: "new_readlist_modal"
