.authorlist ng-controller="FeedAuthorListCtrl" ng-init="init()"
  
  .row
    .col-sm-3.hidden-xs
      = render partial: "user_read_links"
  
    .col-sm-8  
      h2 Recommended Authors
      .dark-line
              
      .search-author.pull-right.col-sm-offset-5.col-sm-7
        = render partial: "layouts/user_search"
      .clearfix


      - @profiles.each do |profile|
        .row.author-container
          .col-sm-11.col-xs-12
            .col-sm-3.col-xs-3
              img.img-circle.thumbnail.author-thumbnail.pull-right ng-src="#{profile.photo_url}"
            .col-sm-9.col-xs-9
              h2.author-post
                a href="/authors/#{profile.token}" #{profile.name}
              p #{profile.short_description}

              followbutton.btn-xs.btn> target="getProfile('#{profile.token}')"

              readlistbutton> target="getProfile('#{profile.token}')" readlists-model="my_readlists" after="init()"
                a.btn.btn-default.btn-xs.dropdown-toggle data-toggle="dropdown"
                  ' Add to Readlist
                  span.caret

              hr

    = render partial: "new_readlist_modal"
