.authorlist ng-controller="FeedAuthorListCtrl" ng-init="init()"

  .row
    .col-sm-3.hidden-xs
      = render partial: "user_read_links"
  
    .col-sm-8.col-xs-12

      - if current_user.first_time
        .alert.alert-dismissable.alert-info.alert-message
          button.close area-hidden="true" data-dismiss="alert" type="button" onclick="$('.alert').fadeOut()"× 
          p 
            strong Thank you for joining Snippr! 
          br
          p Please click "Follow" to get updates in your timeline from the professors
          - current_user.first_time = false
          - current_user.save
      h2 Please click on follow to get updates from the professors 
      .dark-line
      .univerity-buttons.col-sm-offset-3.col-sm-9
      button.btn.btn-xs.btn-link.spaced-at-right
        = render partial: "author_list_organization_header"
        
        .light-line
      .search-author.pull-right.col-sm-offset-5.col-sm-7.pull-left
        = render partial: "layouts/user_search"

      .clearfix

      div infinite-scroll="authorlist.nextPage()" infinite-scroll-disabled='authorlist.busy' infinite-scroll-distance="1"
        .row.author-container ng-repeat="author in authorlist.authors"
          .col-sm-11.col-xs-12
            .col-sm-3.col-xs-3
              img.img-circle.thumbnail.author-thumbnail.pull-right ng-src="{{author.photo_url_fixed}}"
            .col-sm-9.col-xs-9
              h2.author-post
                a href="/authors/{{author.token}}" {{ author.name }}
              p() {{author.short_description}}

              followbutton.btn-xs.btn> target="getProfile(author.token)"

              readlistbutton> target="getProfile(author.token)" readlists-model="my_readlists" after="init()"
                a.btn.btn-default.btn-xs.dropdown-toggle data-toggle="dropdown"
                  ' Add to Readlist
                  span.caret
              
              hr
    = render partial: "new_readlist_modal"

