.signup-page
  .row
    .col-md-7
    .col-md-5.signup-top-margin 
      .signup-box
      
        h1 Read People.
        h4 Read blogs and articles of your favorite writers from all over the web in one place.
        

        form.form-horizontal role="form"
          .form-group
            label.control-label for="inputEmail1"
            .col-lg-12
              input#inputEmail1.form-control.input-lg placeholder="Email" type="email"
          .form-group
            label.control-label for="inputPassword1"
            .col-lg-12
              input#inputPassword1.form-control.input-lg placeholder="Password" type="password"
          / .form-group
          /   .col-lg-offset-2.col-lg-10
          /     .checkbox
          /       label
          /         input type="checkbox"
          /           | Remember me
          .form-group
            .col-lg-12
              button.btn.btn-primary.btn-signup.btn-lg type="submit" Log in

        h5.login-bar
          span.spaced-at-right
            / a.login-text href="#" Signup
          span.spaced-at-right Or
          Span.spaced-at-right 
            a href="#" Connect using Twitter

