.postview ng-controller="FeedPostViewCtrl" ng-init="init('#{@feed_item.token}')"
  .row 
    .col-sm-3.hidden-xs
      = render partial: "user_read_links"
    .col-sm-7.col-xs-12.container
      h2.author-post
        a.text-info href="/authors/#{@author.token}" #{@author.name}
        
        readlistbutton< target="getProfile('#{@author.token}')" readlists-model="my_readlists" after="init()"
          a.btn.btn-default.btn-xs.dropdown-toggle data-toggle="dropdown"
            i.fa.fa-plus-circle
          
      .remove-all-margins
      - if not @feed_item.published.blank?
        p.text-muted.pull-left.dateline.spaced-at-right #{time_ago_in_words @feed_item.published} ago 
      strong.pull-right = link_to URI(@feed_item.url).host, @feed_item.url, target: "_blank", class: "text-primary clearfix"
      .text-muted.dateline
        ' | #{@feed_item.view_count} Views 
        - if @feed_item.comments_list.count > 0
          ' | #{@feed_item.comments_list.count} Comments
        - if @feed_item.like_count > 0
          ' | #{@feed_item.like_count} Likes
      .clearfix
      
      .light-line
        
      h2.post-title
        = @feed_item.title
      .post-content
        - if not @feed_item.content.blank?
          = simple_format @feed_item.content
        - else
          = simple_format @feed_item.summary

      likebutton.btn.btn-default.btn-xs.spaced-at-right type="button" default-state='defaultState' object_type="feed_item" object_token="#{@feed_item.token}"

      / followbutton.btn.btn-primary.btn-xs type="button" target="" Follow #{@author.name}

      .light-line
      br
      br

  / Comments start here  
  .row
    .col-sm-offset-3.col-sm-7
      .col-sm-offset-1.col-sm-11
      .media
        = render "comments/new"
      - @feed_item.comments_list.each do |comment|
        .media
          a.pull-left href="#"
            img.thumbnail.img-circle.media-object.img-comment alt="..." src="#{comment.profile.photo_url_fixed}"
          .media-body
            = comment.text
          hr/
      
  = render partial: "new_readlist_modal"
