.container ng-controller="FeedAuthorListCtrl" ng-init="init()"
  .row  
    .col-md-6.alert.alert-info
      p Here you can follow all your favorite authors
    / .dark-line

  .row
    .col-md-6
      = form_tag post_view5_path, :method => 'get', class: "navbar-form navbar-left"   do 
        .search-box-large
          = text_field_tag :search, params[:search], placeholder: "Author name", class: "form-control"
          = submit_tag "Go", :name => 'nil', class: "btn btn-default"


      - if not @author_search_result.blank?
        - @author_search_result.each do |profile|
          .row.author-container
            .col-md-2
              img.img-circle.thumbnail.author-thumbnail.pull-right ng-src="#{profile.photo_url}"
            .col-md-10
              h2.author-post
                a href="/authors/#{profile.token}" #{profile.name}
              / p #{profile.short_description}

              followbutton.btn-xs.btn> target="getProfile('#{profile.token}')"

              readlistbutton> target="getProfile('#{profile.token}')" readlists-model="my_readlists" after="init()"
                a.btn.btn-default.btn-xs.dropdown-toggle data-toggle="dropdown"
                  ' Add to Readlist
                  span.caret
              hr

      - else
        .col-md-11
          h2.author-post
            = "author not found"
          
    .col-md-offset-2.col-md-4
      - @profiles.each do |profile|
        .row.author-container
          .col-md-3
            img.img-circle.thumbnail.author-thumbnail.pull-right ng-src="#{profile.photo_url}"
          .col-md-9
            h2.author-post
              a href="/authors/#{profile.token}" #{profile.name}
            / p #{profile.short_description}

            followbutton.btn-xs.btn> target="getProfile('#{profile.token}')"


      
