<%
f = @feed_items.map do |feed_item| 
  feed = feed_item.as_json
  feed[:published] = time_ago_in_words feed_item.published
  feed[:teaser] = feed_summary feed_item.summary
  feed[:comment_count] = feed_item.comments_list.count
  feed[:profiles] = feed_item.profile_tokens.map do |profile_token|
    Profile.find(profile_token)
  end
  feed
end
%>
<%= f.to_json.html_safe %>

