.timeline ng-controller="FeedTimelineCtrl"
  .row
    .col-sm-3.hidden-xs
      = render partial: "user_read_links"
    .col-sm-9.col-xs-12
      .clearfix
      .post-container
        .col-sm-11 infinite-scroll='timeline.nextPage()' infinite-scroll-disabled='timeline.busy' infinite-scroll-distance='1'
          div ng-repeat='item in timeline.items'
            h2.post-title.title-click
              a ng-href='/post/{{item.token}}' {{item.title}}
            .post-content.post-feedview
              | {{item.teaser}}
            br
            .text-info.dateline.post-author-title
              | by 
              a.text-info ng-repeat="profile in item.profiles" href="/authors/{{profile.token}}" {{item.author}}
            .text-muted.dateline.spaced-at-right.float-left
              | Posted {{item.published }} ago |
            .text-muted.dateline
              | {{item.view_count}} Views | {{ item.comment_count }} Comments | {{ item.like_count }} Likes
            hr
          div ng-show='timeline.busy' Loading data...



