.newsfeed ng-controller="FeedAuthorShowPostsCtrl" ng-init="init()"

  .row 
    .col-sm-3.hidden-xs
      = render partial: "user_read_links"
    .col-sm-9.col-xs-12
      .clearfix
      .post-container 
        - @feed_items.each do |feed_item|
          .col-sm-11
            br
            h2.post-title
              a> href="/post/#{feed_item.token}" #{ feed_item.title }
            .post-content.post-feedview #{feed_summary feed_item.content}
            br

            .text-muted.dateline.post-author-title
              - @following_authors.each do |following_author|
                  - if not following_author.feed_tokens.blank? and following_author.feed_tokens.include?(feed_item.feed_token)
                    a.text-info> href="/authors/#{{following_author.token}}" by #{{following_author.name}}
            .text-muted.dateline.spaced-at-right.float-left()  
              | Posted #{ time_ago_in_words feed_item.published } ago |
            .text-muted.dateline
              |  130 Views | 12 Comments | 15 Likes
            hr
    = render partial: "new_readlist_modal"