div.container ng-controller="FeedAuthorShowPostsCtrl" ng-init="init()"

  .row 
    .col-sm-3.hidden-xs
      = render partial: "user_read_links"

    .col-sm-8.col-xs-12

      h2
        a href="#" #{@readlist.title}
      ul.author-in-readlist.hidden-xs
        - @readlist_authors.each do |profile|
          li.text-muted>
            =' link_to profile.name, author_show_posts_path(author_token: profile.token), class: "spaced-at-right"
      .clearfix
      .dark-line

      .clearfix

      - @feed_items.each do |feed_item|
        h2.author-feed
          - @readlist_authors.each do |readlist_author|
            - if feed_item.profile_tokens.include? readlist_author.token or readlist_author.feed_tokens.include?(feed_item.feed_token) 
              a href="/authors/#{readlist_author.token}" #{{readlist_author.name}}               

              / readlistbutton> target="getProfile('#{readlist_author.token}')" readlists-model="my_readlists" after="init()"
              /   a.btn.btn-xs.dropdown-toggle data-toggle="dropdown"
              /     i.icon-plus-sign

        .clearfix

        - if feed_item.published
          p.text-muted.dateline() #{ time_ago_in_words feed_item.published } ago
        h2.post-title
          a> href="/post/#{feed_item.token}" #{ feed_item.title }
          / a href="{{ post.url }}" Go

        .post-content #{feed_summary feed_item.summary}
        / .social.pull-right.clearfix.text-info.spaced-at-top
          / span.social-buttons
          /   i.icon-heart-empty
          / span.social-buttons
          /   i.icon-facebook-sign
          / span.social-buttons
          /   i.icon-twitter-sign
          / span.social-buttons
          /   i.icon-linkedin-sign 

        .clearfix
        hr


  = render partial: "new_readlist_modal"