.readlist ng-controller="ReadlistIspublicCtrl" ng-init="init()"
  .row 
    .col-sm-3.hidden-xs
      = render partial: "user_read_links"

    .col-sm-8.col-xs-12
      h2 All Readlists
      .dark-line
            
      h2
        - if current_user.my_readlists.blank?
          h2 You have no readlists
        - else
          ul.fix-list
            h2
              - current_user.my_readlists.each do |readlist|
                = link_to readlist.title, user_readlist_read_path(token: readlist.token), class:"spaced-at-right"
                -# input ng-model="getBtnState('#{readlist.token}').is_public"
                readlistprivacybutton.btn-xs.btn> target="getBtnState('#{readlist.token}')" 
                <p>{{target.is_public}}</p>
                p
                = button_to "Delete readlist", user_readlist_delete_path(token: readlist.token), method: "delete", confirm: "Are you sure?", class: " btn btn-danger btn-xs" 
                / button.btn.btn-default.btn-xs Add authors

                / -# input ng-model="getBtnState('#{readlist.token}').is_public"
                / readlistprivacybutton.btn-xs.btn> target="getBtnState('#{readlist.token}')" 
                / <p>{{target.is_public}}</p>
                / / - if readlist.is_public or readlist.is_public
                / /   = button_to "Make it private",user_readlist_is_public_path(token: readlist.token)
                / / - else
                / /   = button_to "Make it public",user_readlist_is_public_path(token: readlist.token)
                hr

      .alert-message.alert.alert-info 
        | To add authors to your lists or to create a new readlist, please go to the 
        = link_to "Authors ", author_list_path, class: "text-primary" 
        | page. You can also add an author to any readlist directly from a post by clicking on the "plus" sign beside author's name.

