.readlist  
  h2 All Readlists
  p.go-to-feed
    a href="#" Create new 
  .row
    .col-md-12
      .dark-line
  .row
    .col-md-12
      .col-md-offset-8.col-md-4
        form.form-inline ng-submit="search()"
          .form-group>
            input.form-control type="text" ng-model="search_q" placeholder="Enter readlist"
          .form-group>
            input.form-control.btn-primary type="submit" value="Search"
  .row 
    .col-md-12 
      .col-md-8
        h2
          - if current_user.my_readlist.blank?
            h2 You have no readlists
          - else
            ul.fix-list
              h2
                - current_user.my_readlist.each do |readlist|
                  li
                    = link_to readlist.title, user_readlist_read_path(token: readlist.token)

                  p
                  button.btn.btn-danger.btn-xs.spaced-at-right Delete readlist
                  button.btn.btn-default.btn-xs Add authors
                  hr

