#page.signme
  ul.cb-slideshow
    li
      span Image 01
      div
        h3 Richard Branson
    li
      span Image 02
      div
        h3 Amy Goodman
    li
      span Image 03
      div
        h3
          | Steven Pinker
          h3
    li
      span Image 04
      div
        h3 Thomas Friedman
    li
      span Image 05
      div
        h3 Marissa Mayer
    li
      span Image 06
      div
        h3 Richard Dawkins


  .row
    .col-md-8
    .col-md-4
      .col-md-11
        / .signup-box.only-signup
        /   h1 Read People.
        /   h4 Read blogs and articles of your favorite writers from all over the web in one place.
        .signup-box
          h1.text-left
            strong Read People.
          .sub.text-left Read blogs and articles of your favorite writers from all over the web in one place.


          .signup-form
            form.form-horizontal role="form"
            = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
              - if not devise_error_messages!.blank?
                .alert.alert-danger
                  = devise_error_messages!
              .form-group
                / = f.label :display_name
              
                = f.text_field :display_name, :autofocus => true, placeholder: "Your name", class: "form-control input"
              .form-group
                / = f.label :email
              
                = f.email_field :email, placeholder: "Email", class: "form-control input"
              .form-group
                / = f.label :password

                = f.password_field :password, placeholder: "Password", class: "form-control input"

              .form-group
                / = f.label :password_confirmation

                = f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control input"

              .form-group
                = f.submit "Sign up", class: "btn btn-warning btn-signup btn"
            = render "devise/shared/links"

