#page
  ul.cb-slideshow

  .row
    .col-md-offset-1.col-md-6
      h2
        .text-info Read what professors from top business schools are writing, all in one place.
      .line-container
        .dark-line
      .unilogos
    
 
    .col-md-offset-1.col-md-3
        .signup-box
          h3.text-left Sign up 
          .sub.text-lef Registration takes only 1 min


          .signup-form
            form.form-horizontal role="form"
            = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
              - if not devise_error_messages!.blank?
                .alert.alert-danger
                  = devise_error_messages!
              .form-group
                / = f.label :display_name
              
                = f.text_field :display_name, :autofocus => true, placeholder: "Your name", class: "form-control input"
              .form-group
                / = f.label :email
              
                = f.email_field :email, placeholder: "Email", class: "form-control input"
              .form-group
                / = f.label :password

                = f.password_field :password, placeholder: "Password", class: "form-control input"

              .form-group
                / = f.label :password_confirmation

                = f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control input"

              .form-group
                = f.submit "Sign up", class: "btn btn-primary btn-signup btn"
            = render "devise/shared/links"

