p Leave a comment
= form_for [model,comment] do |f|
  - if model.errors.any?
    div id="error_explanation"
      h2
        = pluralize(model.errors.count, "error")
        | prohibited this comment from being saved:
      ul
        - model.errors.full_messages.each do |msg|
          li ${msg}
  - if comment.parent
    = f.hidden_field :parent, :value => comment.parent
  = f.hidden_field :author, :value => comment.author
  div class="form-group"
    = f.text_area :text, class: "form-control", placeholder: "Enter your comment here"
  div class="actions"
    = f.submit class: "btn btn-default"
hr/