h2 All Readlists
p.go-to-feed
  a href="#" Create new 
.row
  .col-md-12
    .dark-line
.row
  .col-md-12
    .col-md-offset-8.col-md-4
      form.form-inline ng-submit="search()"
        .form-group>
          input.form-control type="text" ng-model="search_q" placeholder="Enter readlist"
        .form-group>
          input.form-control.btn-primary type="submit" value="Search"
.row 
  .col-md-12 
    .col-md-8
      h2.author-name 
        a href="#"Top 20 Economist
      p.text-muted Most reknowned economists of our generation
      
      ul.author-in-readlist 
        ul.readlist
         li 
            a href="#" Authors:
        li
          a href="#" Joseph Stiglitz
        li |
        li
          a href="#" Paul Krugman
        li |
        li
          a href="#" Larry Summers
        li |
        li
          a href="#" More

      .clearfix

      button.btn.btn-danger.btn-xs.spaced-at-right Delete readlist
      button.btn.btn-default.btn-xs Add authors
      
      
      hr

      p Following will go on a popup

      p
        | To add authors to this list or to create a new readlist, please go to the 
        u
          a href="www.google.com" authors 
        | page. You can also add an author to any readlist directly from a post by clicking on the "plus" sign beside author's name. 
      br
      br
      br
      br

      p 
        | To create a new readlist, please go to the
        u 
          a href= "#" authors 
        | page and click on "Add to Readlist". Click on "New Readlist" and the author will be saved in the newly created readlist. You may add more authors to the list in the same way or from a post by clicking on the &#34plus&#34 sign.
      br
        | Readlist is simply a list of your selected authors that you have grouped together. Readlist allows you to see and read all the posts by your favorite authors in one place.
