= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?

div ng-controller="FeedAuthorListCtrl"
  .row
    .col-md-12
      .col-md-offset-8.col-md-4
        form.form-inline ng-submit="search()"
          .form-group>
            input.form-control type="text" ng-model="search_q" placeholder="Enter Author Name"
          .form-group>
            input.form-control.btn-primary type="submit" value="Search"
       
  h2 Create a new Readlist
  .row
    .col-md-12
      .dark-line

  .row 
    .col-md-12 

      form.form-horizontal role="form"
        .form-group
          label.col-lg-3.control-label for="inputTitle" Title
          .col-lg-7
            input#inputEmail1.form-control placeholder="Type the title of your readlist" type="text" 
        .form-group
          label.col-lg-3.control-label for="inputTitle" Description
          .col-lg-7
            input#inputEmail1.form-control placeholder="Write a short description" type="text"    
        .form-group
          label.col-lg-3.control-label for="inputAuthor" Authors
          .col-lg-5
            input#inputPassword1.form-control placeholder="Type the name of the authors you want to add" type="text"
          .col-lg-3
            button.btn.btn-primary.btn Add

        .row
          .col-lg-offset-3.col-lg-5
            ul.author-in-readlist 
              ul.readlist
                li
                  a href="#" Joseph Stiglitz
                  i.icon-remove.spaced-at-right
                li
                  a href="#" Paul Krugman
                  i.icon-remove.spaced-at-right
                li
                  a href="#" Larry Summers
                  i.icon-remove.spaced-at-right
                li
                  a href="#" xyz
                  i.icon-remove.spaced-at-right
                li
                  a href="#" Joseph Stiglitz
                  i.icon-remove.spaced-at-right
                li
                  a href="#" Paul Krugman
                  i.icon-remove.spaced-at-right
                li
                  a href="#" Larry Summers
                  i.icon-remove.spaced-at-right
                li
                  a href="#" xyz
                  i.icon-remove.spaced-at-right

          .clearfix
 
        .form-group
          .col-lg-offset-3.col-lg-9
            button.btn.btn-primary.btn.spaced-at-top I am done

      
        hr

