body#page
  ul.cb-slideshow
    li
      span Image 01
      div
        h3 Richard Branson
    li
      span Image 02
      div
        h3 Amy Goodman
    li
      span Image 03
      div
        h3
          | Steven Pinker
          h3/
    li
      span Image 04
      div
        h3 Thomas Friedman
    li
      span Image 05
      div
        h3 Marissa Mayer
    li
      span Image 06
      div
        h3 Richard Dawkins
  /! Snippr top bar
  .snippr-top
    a href="#"
      strong SNIPPR
    span.right
      a href="#"
    .clr
  /! / Snippr top bar
  .signup-box
    .heading Read People
    .heading.sub Read blogs and articles of your favorite writers from all over the web in one place.