.readlist  

  .row 
    .col-md-3
      = render partial: "user_read_links"

  .col-md-8    
    h2 All Readlists
    .dark-line


    h2
      - if current_user.my_readlist.blank?
        h2 You have no readlists
      - else
        ul.fix-list
          h2
            - current_user.my_readlist.each do |readlist|
              li
                = link_to readlist.title, user_readlist_read_path(token: readlist.token)

              p
              button.btn.btn-danger.btn-xs.spaced-at-right Delete readlist
              button.btn.btn-default.btn-xs Add authors
              hr

