#page
  ul.cb-slideshow

  .row
    .col-md-offset-1.col-md-6
      h2
        .text-info Read what professors from top business schools are writing, all in one place.
      .line-container
        .dark-line
      .unilogos
    
 
    .col-md-offset-1.col-md-3
        .signup-box
          h4.text-left
            strong Forgot your password?
          / .sub.text-left Read blogs and articles of your favorite writers from all over the web in one place.


          .signup-form
            form.form-horizontal role="form"
            = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
              - if not devise_error_messages!.blank?
                .alert.alert-danger
                  = devise_error_messages!
              .form-group
                / = f.label :email
                = f.email_field :email, placeholder: "Email", :autofocus => true, class: "form-control input"
              .form-group
                = f.submit "Send me reset password instructions", class: "btn btn-primary btn-signup btn"
            = render "devise/shared/links"

