table.table.table-striped
  - @subscriptions.each do |subscription|
    tr
      td
        = subscription.email
      td
        = subscription.following_authors
      td
        = subscription.suggested_authors
      td
        = subscription.created_date