
div ng-controller="HomePageCtrl"
  .row.home
    .col-md-12.text-center
      h1 Read everything by your favorite writers
      p.lead 
        | Just click follow and we'll bring you all the blogs and articles of your favorite entrepreneurs, scientists and columnists
        br 
        | from all over the web.

  hr/

  .row.home 
    .col-md-2.col-xs-6.text-center ng-repeat="author in authors"
      img.img-circle.thumbnail ng-src="images/homepage/{{author.id}}.jpg"
        .caption
          h5() {{author.name}}
          p
            a.btn.btn-default href="#" ng-click="follow($event, author.id)" ng-class="{'btn-success': isFollowing(author.id), 'colorgrey': !isFollowing(author.id)}" Follow
          p.text-muted 
            small() {{author.description}}

  hr/

  row.text-center
    .col-md-12.col-xs-12
      h3 Create your own or follow your friend's readlists with One Click!
  row.text-center.clearfix
    .col-md-10.col-md-offset-1.col-xs-12
      .col-md-4.col-xs-12
        a href="http://www.forbes.com/sites/natalierobehmed/2013/07/31/25-entrepreneurs-to-follow-on-twitter" target="_blank"
          h5 "Forbes' 25 Entrepreneurs To Follow On Twitter" 
        .btn.btn-default href="#" ng-click="follow($event, 'top_25_entrepreneurs')" ng-class="{'btn-success': isFollowing('top_25_entrepreneurs'), 'colorgrey': !isFollowing('top_25_entrepreneurs')}" Follow
      .col-md-4.col-xs-12
        a href="http://www.foreignpolicy.com/2012globalthinkers" target="_blank"
          h5 "Foreign Policy: Top 20 Global Thinkers" 
          br
        a.btn.btn-default href="#" ng-click="follow($event, 'top_20_economists')" ng-class="{'btn-success': isFollowing('top_20_economists'), 'colorgrey': !isFollowing('top_20_economists')}" Follow
      .col-md-4.col-xs-12
        a href="http://www.newyorker.com/fiction/20-under-40/writers-q-and-a" target="_blank"
          h5 "The New Yorker: The Summer Fiction - 20 Under 40" 
        a.btn.btn-default href="#" ng-click="follow($event, 'top_10_startup_founders')" ng-class="{'btn-success': isFollowing('top_10_startup_founders'), 'colorgrey': !isFollowing('top_10_startup_founders')}" Follow

  hr/

  .row.clearfix
   .col-md-10.col-md-offset-1.col-xs-12.text-center.form-inline
     h4 Simply type the name of the writers and you will never miss any of their articles. Yes, it's that easy. 
     .form-group.col-md-4.col-xs-4
       input.form-control type="text" placeholder="Name of the first writer" ng-model="suggested_authors[0]"
     .form-group.col-md-4.col-xs-4
       input.form-control type="text" placeholder="Name of the second writer" ng-model="suggested_authors[1]"
     .form-group.col-md-4.col-xs-4
       input.form-control type="text" placeholder="Name of the third writer" ng-model="suggested_authors[2]"

  hr/

  .row
    .col-md-12.text-center
      / h3 Be the first one to use it. Please request for Beta Access. We will inform you the first as soon as we go live.
      .col-md-8.col-md-offset-2.col-xs-12
        form#new_subscription.form-inline
          input type="hidden" name="authenticity_token" value="#{form_authenticity_token}"
          .form-group.col-md-8.col-xs-8
            input.form-control placeholder="Your Email" ng-model="email" required=true type="email"
          .form-group.col-md-4.col-xs-4
            input.btn.btn-success.btn-block type="submit" value="Request for Beta" ng-click="submitForm()"
  br/

  #thankyouModal.modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close aria-hidden="true" data-dismiss="modal" type="button" &times;
          h4.modal-title Thank You
        .modal-body
          p We have received your Request. We will let you know as soon as we are ready.
        .modal-footer
          button.btn.btn-default.colorgrey data-dismiss="modal" type="button" Close