<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html><head><link rel="shortcut icon" href="https://ssl.gstatic.com/docs/spreadsheets/forms/favicon_jfk2.png" type="image/x-icon">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=10; chrome=1;">
<meta name="fragment" content="!">
<base target="_blank">
<title>Survey to understand online reading behavior</title>

<link href='https://docs.google.com/static/forms/client/css/3904611051-formview_ltr.css' type='text/css' rel='stylesheet'>

<script type="text/javascript">
        /**
 * @license
 *! H5F
 * https://github.com/ryanseddon/H5F/
 * Copyright (c) Ryan Seddon | Licensed MIT
 */

(function(e,t){"function"==typeof define&&define.amd?define(t):e.H5F=t()})(this,function(){var e,t,a,i,n,r,s,l,u,o,c,d,v,f,p,m,h,g,b,y,w,C,N,A,E,$,k=document,x=k.createElement("input"),q=/^[a-zA-Z0-9.!#$%&'*+-\/=?\^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/,M=/[a-z][\-\.+a-z]*:\/\//i,L=/^(input|select|textarea)$/i;return r=function(e,t){var a=!e.nodeType||!1,i={validClass:"valid",invalidClass:"error",requiredClass:"required",placeholderClass:"placeholder"};if("object"==typeof t)for(var r in i)t[r]===void 0&&(t[r]=i[r]);if(n=t||i,a)for(var l=0,u=e.length;u>l;l++)s(e[l]);else s(e)},s=function(a){var i,n=a.elements,r=n.length,s=!!a.attributes.novalidate;if(b(a,"invalid",u,!0),b(a,"blur",u,!0),b(a,"input",u,!0),b(a,"keyup",u,!0),b(a,"focus",u,!0),b(a,"change",u,!0),b(a,"click",o,!0),b(a,"submit",function(i){e=!0,t||s||a.checkValidity()||w(i)},!1),!v())for(a.checkValidity=function(){return c(a)};r--;)i=!!n[r].attributes.required,"fieldset"!==n[r].nodeName.toLowerCase()&&l(n[r])},l=function(e){var t=e,a=g(t),n={type:t.getAttribute("type"),pattern:t.getAttribute("pattern"),placeholder:t.getAttribute("placeholder")},r=/^(email|url)$/i,s=/^(input|keyup)$/i,l=r.test(n.type)?n.type:n.pattern?n.pattern:!1,u=f(t,l),o=m(t,"step"),v=m(t,"min"),h=m(t,"max"),b=!(""===t.validationMessage||void 0===t.validationMessage);t.checkValidity=function(){return c.call(this,t)},t.setCustomValidity=function(e){d.call(t,e)},t.validity={valueMissing:a,patternMismatch:u,rangeUnderflow:v,rangeOverflow:h,stepMismatch:o,customError:b,valid:!(a||u||o||v||h||b)},n.placeholder&&!s.test(i)&&p(t)},u=function(e){var t=C(e)||e,a=/^(input|keyup|focusin|focus|change)$/i,r=/^(submit|image|button|reset)$/i,s=/^(checkbox|radio)$/i,o=!0;!L.test(t.nodeName)||r.test(t.type)||r.test(t.nodeName)||(i=e.type,v()||l(t),t.validity.valid&&(""!==t.value||s.test(t.type))||t.value!==t.getAttribute("placeholder")&&t.validity.valid?(A(t,[n.invalidClass,n.requiredClass]),N(t,n.validClass)):a.test(i)?t.validity.valueMissing&&A(t,[n.requiredClass,n.invalidClass,n.validClass]):t.validity.valueMissing?(A(t,[n.invalidClass,n.validClass]),N(t,n.requiredClass)):t.validity.valid||(A(t,[n.validClass,n.requiredClass]),N(t,n.invalidClass)),"input"===i&&o&&(y(t.form,"keyup",u,!0),o=!1))},c=function(t){var a,i,n,r,s=!1;if("form"===t.nodeName.toLowerCase()){a=t.elements;for(var l=0,o=a.length;o>l;l++)i=a[l],n=!!i.attributes.required,r=!!i.attributes.pattern,"fieldset"!==i.nodeName.toLowerCase()&&(n||r&&n)&&(u(i),i.validity.valid||s||(e&&i.focus(),s=!0));return!s}return u(t),t.validity.valid},d=function(e){var t=this;t.validationMessage=e},o=function(e){var a=C(e);a.attributes.formnovalidate&&"submit"===a.type&&(t=!0)},v=function(){return E(x,"validity")&&E(x,"checkValidity")},f=function(e,t){if("email"===t)return!q.test(e.value);if("url"===t)return!M.test(e.value);if(t){var i=e.getAttribute("placeholder"),n=e.value;return a=RegExp("^(?:"+t+")$"),n===i?!1:""===n?!1:!a.test(e.value)}return!1},p=function(e){var t={placeholder:e.getAttribute("placeholder")},a=/^(focus|focusin|submit)$/i,r=/^(input|textarea)$/i,s=/^password$/i,l=!!("placeholder"in x);l||!r.test(e.nodeName)||s.test(e.type)||(""!==e.value||a.test(i)?e.value===t.placeholder&&a.test(i)&&(e.value="",A(e,n.placeholderClass)):(e.value=t.placeholder,b(e.form,"submit",function(){i="submit",p(e)},!0),N(e,n.placeholderClass)))},m=function(e,t){var a=parseInt(e.getAttribute("min"),10)||0,i=parseInt(e.getAttribute("max"),10)||!1,n=parseInt(e.getAttribute("step"),10)||1,r=parseInt(e.value,10),s=(r-a)%n;return g(e)||isNaN(r)?"number"===e.getAttribute("type")?!0:!1:"step"===t?e.getAttribute("step")?0!==s:!1:"min"===t?e.getAttribute("min")?a>r:!1:"max"===t?e.getAttribute("max")?r>i:!1:void 0},h=function(e){var t=!!e.attributes.required;return t?g(e):!1},g=function(e){var t=e.getAttribute("placeholder"),a=/^(checkbox|radio)$/i,i=!!e.attributes.required;return!(!i||""!==e.value&&e.value!==t&&(!a.test(e.type)||$(e)))},b=function(e,t,a,i){E(window,"addEventListener")?e.addEventListener(t,a,i):E(window,"attachEvent")&&window.event!==void 0&&("blur"===t?t="focusout":"focus"===t&&(t="focusin"),e.attachEvent("on"+t,a))},y=function(e,t,a,i){E(window,"removeEventListener")?e.removeEventListener(t,a,i):E(window,"detachEvent")&&window.event!==void 0&&e.detachEvent("on"+t,a)},w=function(e){e=e||window.event,e.stopPropagation&&e.preventDefault?(e.stopPropagation(),e.preventDefault()):(e.cancelBubble=!0,e.returnValue=!1)},C=function(e){return e=e||window.event,e.target||e.srcElement},N=function(e,t){var a;e.className?(a=RegExp("(^|\\s)"+t+"(\\s|$)"),a.test(e.className)||(e.className+=" "+t)):e.className=t},A=function(e,t){var a,i,n="object"==typeof t?t.length:1,r=n;if(e.className)if(e.className===t)e.className="";else for(;n--;)a=RegExp("(^|\\s)"+(r>1?t[n]:t)+"(\\s|$)"),i=e.className.match(a),i&&3===i.length&&(e.className=e.className.replace(a,i[1]&&i[2]?" ":""))},E=function(e,t){var a=typeof e[t],i=RegExp("^function|object$","i");return!!(i.test(a)&&e[t]||"unknown"===a)},$=function(e){for(var t=document.getElementsByName(e.name),a=0;t.length>a;a++)if(t[a].checked)return!0;return!1},{setup:r}});

      </script>

<meta name="viewport" content="width=device-width">

<link href='/static/forms/client/css/722395648-mobile_formview_ltr.css' type='text/css' rel='stylesheet' media='screen and (max-device-width: 600px)'></head>
<body dir="ltr" class="ss-base-body"><div itemscope itemtype="http://schema.org/CreativeWork/FormObject"><meta itemprop="name" content="Survey to understand online reading behavior">
<meta itemprop="description" content="We are building a great product for people who love to read. For this, we need to understand the readers a little bit more. We hope you have some time to fill up this survey. Thank you very much. ">

<meta itemprop="url" content="https://docs.google.com/forms/d/1hcfxf6mKKmimHfGJarDCM9jeaUuyXY8RTBjdgPMQtA0/viewform">
<meta itemprop="embedUrl" content="https://docs.google.com/forms/d/1hcfxf6mKKmimHfGJarDCM9jeaUuyXY8RTBjdgPMQtA0/viewform?embedded=true">
<meta itemprop="faviconUrl" content="https://ssl.gstatic.com/docs/spreadsheets/forms/favicon_jfk2.png">




<div class="ss-form-container"><div class="ss-top-of-page">


<div class="ss-form-heading"><h1 class="ss-form-title" dir="ltr">Survey to understand online reading behavior</h1>
<div class="ss-form-desc ss-no-ignore-whitespace">We are building a great product for people who love to read. For this, we need to understand the readers a little bit more. We hope you have some time to fill up this survey. Thank you very much. </div>

<hr class="ss-email-break" style="display:none;">
<div class="ss-required-asterisk">* Required</div></div></div>
<div class="ss-form"><script type="text/javascript">var submitted_qnstpcxr=false;</script><iframe name="hidden_iframe_qnstpcxr" id="hidden_iframe_qnstpcxr" style="display:none;" onload="if(submitted_qnstpcxr){window.location='http://snippr.co';}"></iframe><form action="https://docs.google.com/forms/d/1hcfxf6mKKmimHfGJarDCM9jeaUuyXY8RTBjdgPMQtA0/formResponse" method="post" target="hidden_iframe_qnstpcxr" onsubmit="submitted_qnstpcxr=true;" id="ss-form" target="_self" onsubmit=""><ol style="padding-left: 0">
<div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1365639311"><div class="ss-q-title">Hello!! Thanks for helping us out. Let&#39;s start with a simple question. How old are you?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.264026665" value="under 18" id="group_264026665_1" class="ss-q-radio" aria-label="under 18" required=""></span>
<span class="ss-choice-label">under 18</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.264026665" value="18-24" id="group_264026665_2" class="ss-q-radio" aria-label="18-24" required=""></span>
<span class="ss-choice-label">18-24</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.264026665" value="24-30" id="group_264026665_3" class="ss-q-radio" aria-label="24-30" required=""></span>
<span class="ss-choice-label">24-30</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.264026665" value="30-40" id="group_264026665_4" class="ss-q-radio" aria-label="30-40" required=""></span>
<span class="ss-choice-label">30-40</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.264026665" value="over 40" id="group_264026665_5" class="ss-q-radio" aria-label="over 40" required=""></span>
<span class="ss-choice-label">over 40</span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_776263186"><div class="ss-q-title">male or female?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1357293182" value="male" id="group_1357293182_1" class="ss-q-radio" aria-label="male" required=""></span>
<span class="ss-choice-label">male</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1357293182" value="female" id="group_1357293182_2" class="ss-q-radio" aria-label="female" required=""></span>
<span class="ss-choice-label">female</span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1052181592"><div class="ss-q-title">Profession (eg. developer, journalist, consultant, student)?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1052181592" value="" class="ss-q-short" id="entry_1052181592" dir="auto" aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1223922480"><div class="ss-q-title">Country where you live in?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1223922480" value="" class="ss-q-short" id="entry_1223922480" dir="auto" aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1093998826"><div class="ss-q-title">Most of the questions will be about your online reading habit? So, how many articles/blogs do you read every week?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1239888521" value="less than 10" id="group_1239888521_1" class="ss-q-radio" aria-label="less than 10" required=""></span>
<span class="ss-choice-label">less than 10</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1239888521" value="10-20" id="group_1239888521_2" class="ss-q-radio" aria-label="10-20" required=""></span>
<span class="ss-choice-label">10-20</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1239888521" value="21-30" id="group_1239888521_3" class="ss-q-radio" aria-label="21-30" required=""></span>
<span class="ss-choice-label">21-30</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1239888521" value="31-40" id="group_1239888521_4" class="ss-q-radio" aria-label="31-40" required=""></span>
<span class="ss-choice-label">31-40</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1239888521" value="over 40. I love reading" id="group_1239888521_5" class="ss-q-radio" aria-label="over 40. I love reading" required=""></span>
<span class="ss-choice-label">over 40. I love reading</span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_916126879"><div class="ss-q-title">What are the main reasons for reading?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices ss-choices-required"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1272971775" value="Studies or work related" id="group_1272971775_1" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Studies or work related</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1272971775" value="Personal interest/hobby" id="group_1272971775_2" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Personal interest/hobby</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1272971775" value="Get the latest news" id="group_1272971775_3" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Get the latest news</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1272971775" value="Read opinions/analysis of people that matter" id="group_1272971775_4" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Read opinions/analysis of people that matter</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1272971775" value="Just love reading" id="group_1272971775_5" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Just love reading</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1272971775" value="__other_option__" id="group_1272971775_6" class="ss-q-checkbox ss-q-other-toggle"></span>
Other:</label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.1272971775.other_option_response" value="" class="ss-q-other" id="entry_1272971775_other_option_response" dir="auto" aria-label="Other"></span>
</li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_212847409"><div class="ss-q-title">How do you choose what to read online?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices ss-choices-required"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1324608253" value="Facebook or Twitter feeds and friends sharing" id="group_1324608253_1" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Facebook or Twitter feeds and friends sharing</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1324608253" value="Go to news website/magazine of my choice" id="group_1324608253_2" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Go to news website/magazine of my choice</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1324608253" value="google search the topic i like" id="group_1324608253_3" class="ss-q-checkbox"></span>
<span class="ss-choice-label">google search the topic i like</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1324608253" value="Google search the people/author i like" id="group_1324608253_4" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Google search the people/author i like</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1324608253" value="Use RSS feeds, reddit, etc" id="group_1324608253_5" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Use RSS feeds, reddit, etc</span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1779808605"><div class="ss-q-title">What type of article do you mostly read?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices ss-choices-required"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1579584060" value="News and Politics" id="group_1579584060_1" class="ss-q-checkbox"></span>
<span class="ss-choice-label">News and Politics</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1579584060" value="Technology" id="group_1579584060_2" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Technology</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1579584060" value="Business, Economics" id="group_1579584060_3" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Business, Economics</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1579584060" value="Social Science, Psychology" id="group_1579584060_4" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Social Science, Psychology</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1579584060" value="Entertainment" id="group_1579584060_5" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Entertainment</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1579584060" value="Humanities" id="group_1579584060_6" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Humanities</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1579584060" value="Culture and Travel" id="group_1579584060_7" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Culture and Travel</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1579584060" value="__other_option__" id="group_1579584060_8" class="ss-q-checkbox ss-q-other-toggle"></span>
Other:</label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.1579584060.other_option_response" value="" class="ss-q-other" id="entry_1579584060_other_option_response" dir="auto" aria-label="Other"></span>
</li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_37311049"><div class="ss-q-title">Why do you follow people on Twitter?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices ss-choices-required"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1173935772" value="What the heck is Twitter?" id="group_1173935772_1" class="ss-q-checkbox"></span>
<span class="ss-choice-label">What the heck is Twitter?</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1173935772" value="To hear what they have to say" id="group_1173935772_2" class="ss-q-checkbox"></span>
<span class="ss-choice-label">To hear what they have to say</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1173935772" value="To hear about their articles/blogs and other work" id="group_1173935772_3" class="ss-q-checkbox"></span>
<span class="ss-choice-label">To hear about their articles/blogs and other work</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1173935772" value="To connect/network with them" id="group_1173935772_4" class="ss-q-checkbox"></span>
<span class="ss-choice-label">To connect/network with them</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1173935772" value="Marketing and stuff" id="group_1173935772_5" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Marketing and stuff</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1173935772" value="__other_option__" id="group_1173935772_6" class="ss-q-checkbox ss-q-other-toggle"></span>
Other:</label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.1173935772.other_option_response" value="" class="ss-q-other" id="entry_1173935772_other_option_response" dir="auto" aria-label="Other"></span>
</li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_2054943103"><div class="ss-q-title">If you like a particular article, what do you do?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices ss-choices-required"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.168364360" value="Share it on social network" id="group_168364360_1" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Share it on social network</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.168364360" value="Bookmark it in the browser" id="group_168364360_2" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Bookmark it in the browser</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.168364360" value="Bookmark it using Pocket, Evernote, etc" id="group_168364360_3" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Bookmark it using Pocket, Evernote, etc</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.168364360" value="Follow the author on Twitter" id="group_168364360_4" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Follow the author on Twitter</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.168364360" value="Subscribe to RSS" id="group_168364360_5" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Subscribe to RSS</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.168364360" value="Read more from the same author&nbsp;" id="group_168364360_6" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Read more from the same author </span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.168364360" value="__other_option__" id="group_168364360_7" class="ss-q-checkbox ss-q-other-toggle"></span>
Other:</label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.168364360.other_option_response" value="" class="ss-q-other" id="entry_168364360_other_option_response" dir="auto" aria-label="Other"></span>
</li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_672687460"><div class="ss-q-title">How easy is to keep up with the latest articles/blogs of your favorite authors/people via Twitter? (5=very hard)
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_169992259"><tr aria-hidden class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_169992259_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_169992259_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_169992259_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_169992259_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_169992259_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden class="aria-todo"></div>
<div class="aria-only-help">Select a value from a range of 1 to 5.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.169992259" value="1" id="group_169992259_1" class="ss-q-radio" aria-label="1" required=""></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.169992259" value="2" id="group_169992259_2" class="ss-q-radio" aria-label="2" required=""></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.169992259" value="3" id="group_169992259_3" class="ss-q-radio" aria-label="3" required=""></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.169992259" value="4" id="group_169992259_4" class="ss-q-radio" aria-label="4" required=""></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.169992259" value="5" id="group_169992259_5" class="ss-q-radio" aria-label="5" required=""></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden></td></tr></table>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1994035603"><div class="ss-q-title">Do you use RSS feeds?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1115723171" value="Never heard about that" id="group_1115723171_1" class="ss-q-radio" aria-label="Never heard about that" required=""></span>
<span class="ss-choice-label">Never heard about that</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1115723171" value="Saw it on the website but never figured out what that is" id="group_1115723171_2" class="ss-q-radio" aria-label="Saw it on the website but never figured out what that is" required=""></span>
<span class="ss-choice-label">Saw it on the website but never figured out what that is</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1115723171" value="Yea, use tools such as Feedly, Google Reader" id="group_1115723171_3" class="ss-q-radio" aria-label="Yea, use tools such as Feedly, Google Reader" required=""></span>
<span class="ss-choice-label">Yea, use tools such as Feedly, Google Reader</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1115723171" value="Yes, but I don&#39;t really like it" id="group_1115723171_4" class="ss-q-radio" aria-label="Yes, but I don&#39;t really like it" required=""></span>
<span class="ss-choice-label">Yes, but I don&#39;t really like it</span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_4260934"><div class="ss-q-title">Have you ever searched for articles by your favorite writer/person/journalist on Google?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1522442124" value="Yes, I do that often" id="group_1522442124_1" class="ss-q-radio" aria-label="Yes, I do that often" required=""></span>
<span class="ss-choice-label">Yes, I do that often</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1522442124" value="I occasionally do it" id="group_1522442124_2" class="ss-q-radio" aria-label="I occasionally do it" required=""></span>
<span class="ss-choice-label">I occasionally do it</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1522442124" value="Never" id="group_1522442124_3" class="ss-q-radio" aria-label="Never" required=""></span>
<span class="ss-choice-label">Never</span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1564444760"><div class="ss-q-title">When you are reading an article or blog, how important is the author?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.926038445" value="Very important. I read because of the author" id="group_926038445_1" class="ss-q-radio" aria-label="Very important. I read because of the author" required=""></span>
<span class="ss-choice-label">Very important. I read because of the author</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.926038445" value="Not so important. I care about the topic mostly" id="group_926038445_2" class="ss-q-radio" aria-label="Not so important. I care about the topic mostly" required=""></span>
<span class="ss-choice-label">Not so important. I care about the topic mostly</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.926038445" value="Not so important, I care about the source/website/magazine" id="group_926038445_3" class="ss-q-radio" aria-label="Not so important, I care about the source/website/magazine" required=""></span>
<span class="ss-choice-label">Not so important, I care about the source/website/magazine</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.926038445" value="__other_option__" id="group_926038445_4" class="ss-q-radio ss-q-other-toggle"></span>
Other:</label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.926038445.other_option_response" value="" class="ss-q-other" id="entry_926038445_other_option_response" dir="auto" aria-label="Other"></span>
</li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1339625860"><div class="ss-q-title">Could you please write the names of five of your favorite authors/writers/bloggers? (separate using comma)
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1339625860" rows="8" cols="0" class="ss-q-long" id="entry_1339625860" dir="auto" aria-required="true" required=""></textarea>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_988756727"><div class="ss-q-title">How often do you go to multiple websites to learn what&#39;s going on with your favorite personality?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.90542085" value="Often, I have few people who I really admire" id="group_90542085_1" class="ss-q-radio" aria-label="Often, I have few people who I really admire" required=""></span>
<span class="ss-choice-label">Often, I have few people who I really admire</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.90542085" value="Sometimes, when I feel like&nbsp;" id="group_90542085_2" class="ss-q-radio" aria-label="Sometimes, when I feel like&nbsp;" required=""></span>
<span class="ss-choice-label">Sometimes, when I feel like </span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.90542085" value="Sometimes, when the person is in media" id="group_90542085_3" class="ss-q-radio" aria-label="Sometimes, when the person is in media" required=""></span>
<span class="ss-choice-label">Sometimes, when the person is in media</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.90542085" value="Seldom, one website is enough" id="group_90542085_4" class="ss-q-radio" aria-label="Seldom, one website is enough" required=""></span>
<span class="ss-choice-label">Seldom, one website is enough</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.90542085" value="Never" id="group_90542085_5" class="ss-q-radio" aria-label="Never" required=""></span>
<span class="ss-choice-label">Never</span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_867920556"><div class="ss-q-title">Yay! We are done! If you enjoy reading, you must sign up for the most awesome product we are currently building. We promise you will be the first person to test our product. 
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.514291435" value="I am gonna register. Take my money.&nbsp;" id="group_514291435_1" class="ss-q-checkbox"></span>
<span class="ss-choice-label">I am gonna register. Take my money. </span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.514291435" value="I am gonna register but don&#39;t take my money.&nbsp;" id="group_514291435_2" class="ss-q-checkbox"></span>
<span class="ss-choice-label">I am gonna register but don&#39;t take my money. </span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.514291435" value="I like ice-cream!!!&nbsp;" id="group_514291435_3" class="ss-q-checkbox"></span>
<span class="ss-choice-label">I like ice-cream!!! </span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[]
">
<input type="hidden" name="pageHistory" value="0">


<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit">
<div class="ss-secondary-text">Never submit passwords through Google Forms.</div></td>
<td id="progress-container"><div id="progress-bar" class="jfk-progressBar-nonBlocking progress-bar-horizontal goog-inline-block"></div>
<div id="progress-label" class="progress-label">100%: You made it.</div></td></tr></tbody></table></div></ol></form></div>
<div class="ss-footer"><div class="ss-attribution"></div>
<div class="ss-legal"><div class="disclaimer-separator"></div>
<div class="disclaimer" dir="ltr"><div class="powered-by-logo"><span class="powered-by-text">Powered by</span>
<a class="ss-logo-link" href="http://docs.google.com"><img class="ss-logo" src="https://ssl.gstatic.com/docs/forms/drive_logo_small.png" alt="Google Drive"></a></div>
<div class="ss-terms"><span class="disclaimer-msg">This content is neither created nor endorsed by Google.</span>
<br>
<a href="https://docs.google.com/forms/d/1hcfxf6mKKmimHfGJarDCM9jeaUuyXY8RTBjdgPMQtA0/reportabuse?source=https://docs.google.com/forms/d/1hcfxf6mKKmimHfGJarDCM9jeaUuyXY8RTBjdgPMQtA0/viewform">Report Abuse</a>
-
<a href="http://www.google.com/accounts/TOS">Terms of Service</a>
-
<a href="http://www.google.com/google-d-s/terms.html">Additional Terms</a></div></div></div></div>

<div id="docs-aria-speakable" class="docs-a11y-ariascreenreader-speakable docs-offscreen" aria-live="assertive" role="region" aria-atomic></div></div>

<script type='text/javascript' src='/static/forms/client/js/2310864441-formviewer_prd.js'></script>
<script type="text/javascript">H5F.setup(document.getElementById('ss-form'));_initFormViewer(
          "[100,,[]\n]\n");
      </script></div></body></html>