<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  |SNIPPR
</nav>
.container
  div ng-controller="FeedAuthorShowPostsCtrl" ng-init="author_token='#{@author_token}'; init();"
    .row
      .col-md-12
        .col-md-12 
          a href="/authors" 
            i> class="icon-backward"
            | All Authors
    br/
    br/
    .row
      .col-md-3
        img.img-circle.author-thumbnail.thumbnail.pull-right ng-src="{{author.photo_url}}"
        

      .col-md-6
        h2.author-name() 
          | {{author.name}} 
          span @biancawelds




        p() A mind wrapped in imagination always creating - poet, blogger, photographer, programmer, pannist, technologist, super-powered idea creator. Now: TechPeaker {{ author.short_description }}
        p() {{ total_posts }} posts.
        button.btn.btn-success.btn-xs Follow
    .row
      .col-md-6.col-md-offset-3    
        hr.dark-line

        
    / .col-md-6
    /   ul.pagination
    /     li
    /       a href="#" ng-click="paginate($event, page - 1)" &laquo;
    /     li
    /       a Page {{ page }} of {{ total_pages }}
    /     li
    /       a href="#" ng-click="paginate($event, page + 1)" &raquo;

    div ng-repeat="post in posts"
      .row 
        .col-md-3
          ul.side-nav
            li.title
              a href="#" READLISTS
              li
                a href="#" Top 10 Entrepreneurs
              li
                a href="#" Best NewYorker Writers
              li
                a href="#" Create a new readlist
            hr
            li.title
              a href="#" AUTHORS
              li
                a href="#" Richard Branson
              li
                a href="#" Bill Gates
              li
                a href="#" Add a new author
            

        .post-container.col-md-8
          p.dateline() {{ time_ago_in_words post.published }} ago
          h2.post-title
            a> href="/post/Wsb6" {{ post.title }}
            / a href="{{ post.url }}" Go
          div.social
            span
              i.icon-heart-empty
            span.social-buttons
              i.icon-facebook-sign
            span.social-buttons
              i.icon-twitter-sign
            span.social-buttons
              i.icon-linkedin-sign 
          
          p.post-content ng-bind-html-unsafe="post.content"
      hr
