#page
  ul.cb-slideshow

  .row
    .col-md-offset-1.col-md-6
      h2
        .text-info Read what professors from top business schools are writing, all in one place.
      .line-container
        .dark-line
      .unilogos
    
 
    .col-md-offset-1.col-md-3
        .signup-box
          h3.text-left Sign in 
          / .sub.text-lef Registration takes only 1 min
          
          .signup-form
            = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              .form-group
                / = f.label :email
              
                = f.email_field :email, :autofocus => true, placeholder: "Email", class: "form-control input"
              .form-group
                / = f.label :password

                = f.password_field :password, placeholder: "Password", class: "form-control input-"
              - if devise_mapping.rememberable?
                .form-group.checkbox
                  = f.check_box :remember_me
                  = f.label :remember_me
              .form-group
                
                = f.submit "Log in", class: "btn btn-primary btn-signup btn"

            = render "devise/shared/links"

