#page
  ul.cb-slideshow
  /   li
  /     span Image 01
  /     div
  /       h3 Richard Branson
  /   li
  /     span Image 02
  /     div
  /       h3 Amy Goodman
  /   li
  /     span Image 03
  /     div
  /       h3
  /         | Steven Pinker
  /         h3
  /   li
  /     span Image 04
  /     div
  /       h3 Thomas Friedman
  /   li
  /     span Image 05
  /     div
  /       h3 Marissa Mayer
  /   li
  /     span Image 06
  /     div
  /       h3 Richard Dawkins


  .row
    .col-md-offset-1.col-md-6
      br
      br
      br
      br
      h1.signup-title
        .text-info Read what professors from top business schools are writing, all in one place. 
      p.text-info Discover knowlege from 
    .col-md-offset-1.col-md-4
      .col-md-11
		  	.signup-box
					h3.text-left Sign in 
					/ 	strong Read People.
					/ .sub.text-left Read blogs and articles of your favorite writers from all over the web in one place.

					.signup-form
						form.form-horizontal role="form"
						= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
						  .form-group
						    / = f.label :email
						  
						    = f.email_field :email, :autofocus => true, placeholder: "Email", class: "form-control input"
						  .form-group
						    / = f.label :password

						    = f.password_field :password, placeholder: "Password", class: "form-control input-"
						  - if devise_mapping.rememberable?
						    .form-group.checkbox
						      = f.check_box :remember_me
						      = f.label :remember_me
						  .form-group
						  	
						  	= f.submit "Log in", class: "btn btn-primary btn-signup btn"
						= render "devise/shared/links"
