.reading-content {
  font-family: 'Lora', serif;
}

.reading-content-break {
  padding-bottom: 30px;
}

// Normal Content

// Hardcode width to 970px even on larger desktops
// http://stackoverflow.com/questions/18548453/how-to-change-navbar-container-width-bootstrap-3

$body: #222222;
$a: #5C5C5C;
$active: gray;
$hover: #3299CC;
$margin: 20px;
$highlight: white;

a{
  color:$a;
  &:hover {
    color: $hover;
    text-decoration: none;
  }
  &:active {
    color: $active;
  }
}

/*common layout*/

.common-layout {
  @media (min-width: 1200px) {
    .container{
      max-width: 1120px;
    }
  }

  body {
    padding-top: 0px;
    background-color: white;
  }

  .container{
    background-color: white;
  }

  #footer {
    padding-top: 80px;
    padding-bottom: 80px;

  }
}

body{
  color: $body;
  font-family: "Open Sans", sans-serif;
  margin: 0; padding: 0; border: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size:10px;
}

h1,h2{
  font-weight: 900;
  a{
    font-color: $body;
  }

}

p{
  font-size: 140%;
}

.pagination{
  font-size: 140%;
}
/**/

.dark-line{
    border: 2px solid;
    color: lighten($body,10%);
    margin-top: 20px;
    margin-bottom: 30px;
}

.light-line{
    border: 1px solid;
    color: lighten($body,50%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-menu li{
  text-align: left;
}

.nav-defined{
  border:none;
  background-color: white;
  font-weight:bold;
  padding-bottom: 10px;
}
.visible-xs{
  padding-top: 60px;
}

#logo{
  background: image-url("snippr_logo.png");
  background-size: 100px;
  background-repeat: no-repeat;
  width: 130px;
  height: 40px;
  margin-top: 10px;
  opacity: .8;
}



.username{
  font-size: 140%;
}

.plus-sign{
  line-height: 14px;
}

.search-box-large {
  margin-bottom: 50px;
  margin-top: 30px;
  .form-control{
  width: 360px;
  height: 50px;
  border-radius: 10px;
  }
  .btn {
    width:50px;
    height: 50px;
    border-radius: 10px;

  }
}


.search-author{
  margin-top:10px;
  margin-bottom: 30px;
}

.newsfeed, .readlist, .authorpost{
  .col-md-8 hr{
  margin-top: 25px;
  margin-bottom:25px;
}
}

.author-view-page hr{
  margin:5px 0;
}

.postview .post-container hr{
  margin:0;
  padding-bottom: 3px;
}

.alert{
  z-index: 2000;
  font-size: 100%;
}

.alert-message{
  font-size: 120%;
  line-height: 1.5;
  color:#222222;
}

/*End of common layout*/




.author-post {
  text-transform: uppercase;
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 10px;
}

.author-feed{
  font-size: 140%;
  text-transform: uppercase;
  font-weight: bold;
}

.twitter-author{
  margin-left: 5px;
  font-size: 70%;
  text-decoration: underline;
  text-transform: lowercase;
}

.author-thumbnail{
  margin-top: 10px;
}

.author-in-readlist{
  list-style: none;
  text-transform: uppercase;
  font-size: 120%;
  padding-right: 0;
  padding-left: 0;
  
  li {
    float:left;
    margin-right:10px;
    padding-bottom: 2px;
  }
}



/*End of Author stuff*/

.post-title {
/*  @extend .reading-content;*/
  font-family: Helvetica;
  font-weight: bolder;
  a{
    color:$body;
    &:hover{
      color: $hover;
      }
  }
}
.newsfeed .post-title, .authorpost .post-title{
  @extend .post-title;
  font-size: 240%;
  padding-bottom: 10px;

  margin-top: 0;

}

.postview .post-title, .readlist .post-title{
  @extend .post-title;
  font-size: 380%;
  padding-bottom: 30px;
}

.post-content {
  @extend .reading-content;
  font-size: 180%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.7em;
  color: $body;

  ul{
    @extend .reading-content-break;    
  }

  h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-size: 120%;

    @extend .reading-content;
  }

  hr{
    display: none;
    margin: 0;
    padding:0;
  }

  p{
    @extend .reading-content-break;
    font-size: 100%;
  }

  br{
    display: none;
  }

  a{

    text-decoration: underline;
    :hover {
      color: $hover;
    }
  }

 img{
    max-width: 100%;
  }
}

.newsfeed, .readlist, .authorpost{
  .post-content{
  @extend .post-content;
  font-size: 160%;
  }
}


/*Helper classes*/
.spaced-at-top {
  margin-top: 20px;
}

.spaced-at-bottom {
  margin-top: 20px;
}

.spaced-at-right {
  margin-right: 10px;
}

.spaced-at-left {
  margin-left: 10px;
}

.remove-all-margins{
  margin:0;
  padding:0;
}

/*End of helper classes*/


/*Social buttons classes*/
.social{
  margin-top: 5px;
  margin-bottom: 20px;
}

.social-buttons{
  margin-right: 5px;
  font-size: 180%;
  &.landing{
    padding-top: 15px;
    margin-right: 20px;
  }
}

/* End of social buttons classes*/

.side-nav{
  list-style: none;
  font-size: 120%;
  line-height: 1.7em;
  padding-left: 0;
  padding-right:50px;
  margin-top: 50px;
  li.title {
    font-weight: bold;
    text-transform: uppercase;
  }
  .text-here a{
      color:$hover;
  }
  &.side-nav-spaced{
    margin-top: 27px;
  }
}

.dateline{
  font-size: 10px;
  font-weight: bold;
}

.take-to-feed{
  position:fixed;
  bottom:20px;
  right:100px;
}

.fix-list{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.media-body{
  @extend .reading-content;
  font-size: 16px;
}

.img-comment{
  height: auto;
  width: 48px;
}
.img-title{
  height: auto;
  width: 38px;
  margin-right: 20px;
  top-margin: -10px;
}

.author-container img{
  height: 64px;
  width: 64px;
}

.float-left{
  float: left;
}
.post-author-title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 110%;
}

 @media only screen and (max-width: 768px) {
  body { font-size:240%;}
  .post-title{font-size: 300%;}
  .post-content{font-size:230%; line-height:1.5;}
}  
     
@media only screen and (max-width: 992px) {
  body { font-size:140%;}
  .post-title{font-size: 240%;}
  .post-content{font-size:180%; line-height:1.5;}
} 

@media only screen and (min-width: 1200px) {
  body { font-size:100%;}
  .wrap {max-width:970px;}
}

// Landing Page
.landing {
  .home .col-md-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  hr {
    margin: 40px 0px;  
  }

  #footer {
    height: 60px;
    background-color: #f5f5f5;
  }

  .container .credit {
    margin: 20px 0;
  }

  .thumbnail {
    display: inline;
  }
}


