/*new signup page*/

.cb-slideshow, .cb-slideshow:after { 
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent image-url("") top left; 
}



@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 40px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 20px }
}

$blue: rgb(58, 135, 173);
.signup-box{
/*  background-color: rgba(34, 34, 34, .5);*/
  background-color: rgba(246, 246, 246, 1);

  display: block;
  width:100%;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  margin-top: 110px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


  .btn-signup{
  width:100%;
  }

  h1{
    font-size: 46px;
    color:$blue;

  }

  h2, h3, h4{
    color:$blue;
        font-weight: bold;
  }

  .checkbox{
  line-height: 20px;
  color:$blue;

  input{
    width: 20px;
    text-aligh: left;
  }
  }

  &.only-signup{
    margin-top: 50px;
  }

  .signup-form{
    opacity: 100;
  }
  .signup-links{
    text-align: left;
    a, a:visited {
      color:$blue;
      font-size:14px;

    }
  }

  #error_explanation {
    h2 {
      font-size: 15px;
    }
  }
}


.line-container{
  width: 580px;
}
.unilogos{
  background: image-url("unilogos.png");
  background-size: 580px;
  background-repeat: no-repeat;
  width: 588px;
  height: 366px;
  opacity: .8;
  padding:0;
  background-color: rgb(246, 246, 246);
}


.sub{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color:$blue;
  margin-bottom: 10px;

}

.signup-title{
  font-weight: bold;
  text-align: center;
}

