script type="text/ng-template" id="profile-index.html"
  div.row
    .col-md-12
      .row
        h1.col-md-8
          ' All authors
        .col-md-4
          a.btn.btn-primary.pull-right.btn-sm href="#/create-new" New Author
      table.table.table-striped.table-bordered
        tr ng-repeat="author in authors"
          td.col-md-6() {{author.name}}
          td.col-md-2
            a.btn.btn-primary.btn-xs href="#/{{author.token}}" Edit
            button.btn.btn-xs.btn-danger<> ng-click="deleteAuthor(author.token)" Delete
    