script type="text/ng-template" id="profile-show.html" 
  .row
    .col-md-6
      h1() {{profile.name}}
      form.form-horizontal ng-submit="save($event)"
        input.hidden value="#{form_authenticity_token}"
        div.form-group
          input.form-control type="text" name="name" ng-model="profile.name" placeholder="Author Name"
        div.form-group
          textarea.form-control type="text" ng-model="profile.short_description" placeholder="Short Description" rows=4
        div.form-group
          textarea.form-control type="text" ng-model="profile.description" placeholder="Description" rows=4   
        div.form-group
          input.form-control type="text" ng-model="profile.photo_url" placeholder="Photo Url"
        div.form-group.input-group
          span.input-group-addon @
          input.form-control type="text" ng-model="profile.twitter_handle" placeholder="twittername"
        div.form-group
          input.form-control type="text" ng-model="profile.wikipedia_url" placeholder="Wikipedia Url"
        div.form-group
          input.form-control type="text" ng-model="profile.facebook_url" placeholder="Facebook Url"
        div.form-group
          input.form-control type="text" ng-model="profile.linkedin_url" placeholder="Linkedin Url"
        div.form-group
          input.btn.btn-primary type="submit" value="Save"
          / button type="button"
    
    div ng-switch="" on="token"
      .col-md-6 ng-switch-when="undefined"
      .col-md-6 ng-switch-default=""
        h2() Feed Links
        form ng-submit="add_feed()"
          input.hidden name="authenticity_token" value="#{form_authenticity_token}"
          .input-group
            input.form-control type="url" ng-model="$parent.new_feed_url" placeholder="Enter feed url here" required="true"
            .input-group-btn.btn-group
              input.btn.btn-primary type="submit" value="Add"
        
        hr/

        table.table.table-striped.table-bordered
          tr ng-repeat="feed in feeds"
            td
              ' {{feed.feed_url}}
              span ng-switch="" on="feed.is_new"
                span ng-switch-when="true"
                  span.label.label-warning Unsaved
            td
              a.btn.btn-danger.btn-xs ng-click="delete_feed(feed)" Delete
          
        button.btn.btn-primary> type="submit" ng-click="save_feeds()" Save
        button.btn.btn-default ng-click="reset_feeds()" Reset

