= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
 
table
  tr
    th 
      tr
        td list of author searched 
        td | number of counts
        td | is available on snippr   
    - if not @author_search_list.blank?
      - @author_search_list.each do |author|    
        tr
          td #{author.author_name}
          td #{author.search_count}
          td #{author.is_available_in_snippr}
    - else
      p nothing search yet
  
        
