= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?

div ng-app="snippradmin"
  ng-view

  -# Template for Profile Show
  = render :partial => 'profile/show'
  
  -# Template for List
  = render :partial => 'profile/list'