= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
div ng-controller="ShowCtrl"
  h2 
    span> contenteditable="" #{@profile.name}      
  h3 
    ' Feeds
    form.form-inline ng-submit="addFeed()"
      .form-group
        .form-control
          input ng-model="feedUrl" placeholder="Feed URL"
        .form-control
          input type="Submit" value="Add"
    button.btn.btn-primary.btn-xs Add
  ul
    - @feeds.each do |feed|
      li
        span> contenteditable="" #{feed.feed_url}
        button.btn.btn-danger.btn-xs Delete
