- if notice and notice.length > 0
	.alert.alert-success.alert-dismissable
 		button.close aria-hidden="true" data-dismiss="alert" type="button"
		= notice

- if alert
	.alert.alert-warning.alert-dismissable
 		button.close aria-hidden="true" data-dismiss="alert" type="button"
		= alert