.search-box.navbar-form
	= form_tag search_author_path, :method => 'get' do 

		.col-xs-10.remove-all-margins
			= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control"
		.col-xs-2.remove-all-margins
			= submit_tag "Go", :name => 'nil', class: "btn btn-default"
		.clearfix


