
.nav.navbar-nav.btn-group.username
  - if user_signed_in?
    li.dropdown
      a.dropdown-toggle data-toggle="dropdown" href="#"
        = current_user.display_name
        b.caret
      ul.dropdown-menu
        li
          = link_to "My Profile"
        li
          = link_to "Logout", destroy_user_session_path, method: "delete"
  - else
    li.dropdown
      = link_to "Sign in", new_user_session_path
.clearfix


