doctype html
html
  head
    title Snippr
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:400,300,700"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", media: "all"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "http://code.jquery.com/jquery-1.10.1.min.js"
    -# = javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    = javascript_include_tag "application"
    / javascript:
    /   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    /   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    /   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    /   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    /   ga('create', 'UA-43905365-1', 'snippr.co');
    /   ga('send', 'pageview');
    / javascript:
    /   var _kmk = _kmk || '8731335d908493cd0d58b99229da5ad7965bf38c';
    /   function _kms(u){
    /     setTimeout(function(){
    /       var d = document, f = d.getElementsByTagName('script')[0],
    /       s = d.createElement('script');
    /       s.type = 'text/javascript'; s.async = true; s.src = u;
    /       f.parentNode.insertBefore(s, f);
    /     }, 1);
    /   }
    /   _kms('//i.kissmetrics.com/i.js');
    /   _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    = csrf_meta_tags
  body
    header.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand href="/" Snippr Administration
        .navbar-collapse.collapse
          .navbar-form.navbar-right
    
    .container
      .row
        .col-md-3
          = render :partial => 'layouts/admin/navigation'
        .col-md-9
          = yield

    #footer.text-center
      .container
        p.text-muted.credit by 88Yaks