doctype html
html.landing ng-app=''
  head
    title Snippr
    meta name="google-site-verification" content="7avZXxlquzOxLkvuUrfgdyx99LSM5E2mtn90d8FXWa4"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:400,300,700"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"
    = stylesheet_link_tag "application"
    = javascript_include_tag "http://code.jquery.com/jquery-1.10.1.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"
    = javascript_include_tag "application"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    = csrf_meta_tags
  body
    header.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand href="/" Snippr
        .navbar-collapse.collapse
          .navbar-form.navbar-right
            a.btn.btn-success.scroll href="#new_subscription" Request for Beta
    .container
      = yield

    / #footer.text-center
    /   .container
    /     p.text-muted.credit by 88Yaks