doctype html
html.common-layout ng-app='snipprapp'
  head
    title Snippr
    meta name="google-site-verification" content="7avZXxlquzOxLkvuUrfgdyx99LSM5E2mtn90d8FXWa4"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:400,300,700"
    link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css"

    = stylesheet_link_tag "application"
    = javascript_include_tag "http://code.jquery.com/jquery-1.10.1.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"
    = javascript_include_tag "application"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    = javascript_tag "AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
    = javascript_tag "USER_TOKEN = '#{current_user.token}';" if user_signed_in?
    = render partial: "layouts/js_tracking_links" if Rails.env.production?
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags


  body
    .hidden-xs
      nav.navbar.navbar-default.navbar-static-top.nav-defined role="navigation"
        
        .container
          .navbar-header.col-sm-3
            button.navbar-toggle data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button"
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand#logo href="/timeline" 

          .collapse.navbar-collapse.navbar-ex1-collapse.navbar-right
            .pull-left role="search"
              = render partial: "layouts/user_search" unless @disable_search_nav
            .pull-right
              = render partial: "layouts/user_account_nav"

    .visible-xs         
      nav.navbar.navbar-default.navbar-fixed-top.nav-defined role="navigation"
        
        .container
          .navbar-header.col-sm-3
            button.navbar-toggle data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button"
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand#logo href="/timeline" 


          .collapse.navbar-collapse.navbar-ex1-collapse.navbar-right

            div role="search"
              = render partial: "layouts/user_search" unless @disable_search_nav
            br.clearfix
            .pull-right
              = render partial: "layouts/user_account_nav"
            .clearfix

            .side-nav
              span.title.spaced-at-right
                a.text-info href="/timeline"  HOME  
              span.title.spaced-at-right  | 
              span.title.spaced-at-right
                a.text-info href="/authors"  AUTHORS 
              span.title.spaced-at-right  | 
              span.title
                a.text-info href="/users/readlists"  READLISTS 
              .clearfix
       

    .container
      = render partial: "layouts/alerts"
      br
      br
      = yield


    / #footer.text-center
    /   .container
    /     p.text-muted.credit by 88Yaks
      
    = debug(params) if Rails.env.development?
