doctype html
html.signup ng-app=''
  head
    title Snippr
    meta name="google-site-verification" content="7avZXxlquzOxLkvuUrfgdyx99LSM5E2mtn90d8FXWa4"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:400,300,700"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"
    = stylesheet_link_tag "application"
    = javascript_include_tag "http://code.jquery.com/jquery-1.10.1.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"
    = javascript_include_tag "application"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    meta name="description" content="Read blogs and articles of your favorite writers from all over the web in one place."

    javascript:
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43905365-1', 'snippr.co');
      ga('send', 'pageview');
    javascript:
      var _kmk = _kmk || '8731335d908493cd0d58b99229da5ad7965bf38c';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    = csrf_meta_tags
  body

    / header.navbar.navbar-default.navbar-static-top
    /   .container
    /     .navbar-header
    /       a.navbar-brand href="/" Snippr
    /     .navbar-collapse.collapse
    /       .navbar-form.navbar-right
    nav.navbar.navbar-default.navbar-static-top.nav-defined role="navigation"
      .container
        .navbar-header
          button.navbar-toggle data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button"
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand#logo href="/" 
        .collapse.navbar-collapse.navbar-ex1-collapse
          / ul.nav.navbar-nav
          /   li.active
          /     a href="#" Link
          /   li
          /     a href="#" Link
      
          .navbar-right
            .social-buttons.landing.navbar-left.spaced-at-right
              span.spaced-at-right
                a href="https://www.facebook.com/SnipprCo"
                  i.icon-facebook

              span.spaced-at-right
                a href="https://twitter.com/SnipprCo"
                  i.icon-twitter
              span.spaced-at-right
                a href="http://www.linkedin.com/company/snippr"
                  i.icon-linkedin

       
    div
      = render partial: "layouts/alerts"
      = yield

    / #footer.text-center
    /   .container
    /     p.credit by 88Yaks